body{
  margin: 0px;
  padding: 0px;
}

.nav{
  width:100%;
  border: 1px solid black;
  background-color: #0B0C10;
  table-layout: fixed;
}

.nav td{
  text-align: center;
  font-size: 30px;
  font-family: Arial, Times New Roman, sans-serif;
  font-weight: bold;
  width: 100%;
}

.nav td a{
  text-decoration: none;
}

.nav a:link{
    color: #07AEDA;
}

.nav a:visited{
    color: #07AEDA;
}

.nav a:hover{
    color: #64C9E1;
}

.table1{
	width: 75%;
	border-collapse: collapse;
	table-layout: fixed;
	margin: auto;
}

.table1 th{
	padding: 15px;
	background-color: #0B0C10;
	text-align: center;
	border: 1px solid white;
	color: #07AEDA;
	font-family: Arial, Times New Roman, sans-serif;
}

.table1 td{
	padding: 5px;
}

.table1 table, .table1 td{
	width: 100%;
	text-align: center;
	border: 1px solid black;
	font-family: Arial, Times New Roman, sans-serif;
}

