body {
}

.head{
    margin: auto;
    background-color: #379683;

}

.Nav{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: Arial;
    background-color: #5CDB95;
}

a{
    text-decoration: none;
    color: #05386B;
}

table{
    border-spacing: 10px;
}