body {
    width: 1024px;
    background-color:antiquewhite;
}
table.navMenu {
    border-collapse: collapse;
}

table.navMenu tr td {
    /*Put texture here for the nav*/
    background-color: whitesmoke;
}

p.menu {
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    padding: 10px;
    font-size: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

table.sideMenu {

}

table.sideMenu th {
    background-color:black;
    color: white;
    font-size: 10px;
    font-family: Arial;
    font-weight: normal;
    width: 100%;
    height: 50px;
    vertical-align: bottom;
    padding-right: 25px;
    padding-bottom: 10px;
}

table.sideMenu td {
    vertical-align: middle;
    font-family: Arial;
    font-size: 8px;
    background-color: lightgray;
    color: cornflowerblue;
    padding: 7px;
    padding-right: 10px;
}


